﻿
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Forms</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Basic Form Elements
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form method="post" action='@Url.Action("Index", "Home")'>
                            <div class="form-group">
                                <label>File input</label> 
                                <input type="file">
                                <input type="text" name="slthang" value="@ViewBag.slthang" />
                            </div>
                            <div class="form-group">
                                <label>Text area</label>
                                <textarea name="excel_data" id="excel_data" class="form-control" rows="10">@ViewBag.excel_data</textarea>
                            </div>
                            <div class="form-group" id="excel_table"></div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            @*<button onclick="javascript: generateTable();" class="btn btn-default">Submit Button</button>*@
                            @*<button type="reset" class="btn btn-default">Reset Button</button>*@
                        </form>
                        <div class="form-group">
                            <form method="post" id="form2" action='@Url.Action("submit", "Home")'>
                                <input type="hidden" name="hidden_data" id="hidden_data" />
                                <button type="button" onclick="check_submit();" class="btn btn-default">Submit Button</button>
                            </form>
                        </div>
                        
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                        @Html.Raw(ViewBag.account_sai)
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<script type="text/javascript" language="javascript">
    
    function check_submit() {
        document.getElementById("hidden_data").value = $('textarea#excel_data').val();
        document.getElementById("form2").submit();
        
    }
    function generateTable() {
        var data = $('textarea[name=excel_data]').val();
        console.log(data);
        var rows = data.split("\n");

        var table = $('<table />');

        for (var y in rows) {
            var cells = rows[y].split("\t");
            var row = $('<tr />');
            for (var x in cells) {
                row.append('<td>' + cells[x] + '</td>');
            }
            table.append(row);
        }

        // Insert into DOM
        $('#excel_table').html(table);
    }
</script>
